* {
  box-sizing: border-box;  
}

body {
    margin:0;
    font-family: "Roboto", sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.header-color {
    background-color:hsla(0,100%,50%,1);
    background-image:
    radial-gradient(at 40% 20%, hsla(216,91%,59%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(255,88%,54%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(235,88%,54%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(198,88%,54%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(275,88%,54%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(235,82%,70%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(216,91%,59%,1) 0px, transparent 50%);
    width: 100%;
    display:flex;
    justify-content: center;
}


.header-wrap {
    color:#ffffff;
    display:flex;
    flex-direction: column;
    max-width:1080px;
    padding:24px;
}

header {
    display:flex;
    justify-content: space-between;
}

ul {
    display:flex;
    margin:0;
    padding:0;
    list-style-type: none;
    display:flex;
    align-items:center;
    gap:24px;
}

.header-wrap a {
    text-decoration: none;
    color: white;
    font-size:16px;
    color: #e5e7eb;
}

.logo {
    align-self: center;
    font-weight: bold;
    font-size:24px;
}

.hero {
    display:flex;
    gap:24px;
    padding: 40px 0;
    justify-content: center;
    align-items:center;
}

.hero h1 {
    font-size:48px;
    font-weight: 900;
    line-height:1;
}

.hero-text {
    align-content: center;
}

.hero p {
    font-size:16px;
    color: #e5e7eb;
}

.hero button {
    background-color: #08234e;
    padding:8px 32px;
    color:white;
    font-size:16px;
    font-weight:600;
    font-family: "Roboto", sans-serif;
    border-radius:8px;
    border:0;
}

.information {
    max-width: 820px;
    padding: 40px 24px;
    display:flex;            
    flex-direction: column;
    text-align:center;
}

.information h2 {
    margin:0 0 16px 0;
    font-size:32px;
    color:#1f2937;
    font-weight:900;
}

.image-section {
    display:flex;    
    gap:12px;
    color:#475364;
}

.image-box {
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align:center;
    gap:12px;
}

.quote {
    width:100%;
    padding:24px 96px;
    background-color: #d1e0ff;
    display: flex;
    justify-content: center;
}

.quote p {
    max-width:820px;
    font-size:32px;
    font-style:italic;
    color:#1f2937;
    font-weight:300;
}

.quote p strong {
    font-weight:700;
    font-style:normal;
    font-size:24px;
} 

.cta {
    padding: 40px 24px;
    width:100%;    
    display:flex;
    justify-content: center;
}

.cta h3 {
    font-size:24px;
}

.cta-box {
    width:100%;
    background-color: #3b82f6;
    padding:32px 96px;
    color:#ffffff;
    max-width:820px;
    border-radius:16px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:16px;
}

.cta button {
    background-color: #3882f6;
    padding:8px 32px;
    color:white;
    font-size:16px;
    font-weight:600;
    font-family: "Roboto", sans-serif;
    border-radius:8px;
    border:2px solid white;
    flex-shrink: 0;
}

footer {
    padding: 40px 24px;
    background-color: #08234e;
    width:100%;
    text-align:center;
    color: #e5e7eb;
}