* {
  box-sizing: border-box;  
  border: 1px solid red;
}

body {
    margin:0;
    font-family: "Roboto", sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.header-color {
    background-color: #1f2937;
    width: 100%;
    display:flex;
    justify-content: center;
}


.header-wrap {
    color:#ffffff;
    display:flex;
    flex-direction: column;
    max-width:1280px;
    padding:24px;
}

header {
    display:flex;
    justify-content: space-between;
}

ul {
    display:flex;
    margin:0;
    padding:0;
}

ul li {
    text-decoration: none;
}

.logo {
    align-self: center;
    font-weight: bold;
}

.hero {
    display:flex;
    gap:24px;
}

.information {
    max-width: 992px;
    padding:24px;
    display:flex;            
    flex-direction: column;
    text-align:center;
}

.information h2 {
    margin:0;
}

.image-section {
    display:flex;    
}

.image-box {
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align:center;
    gap:12px;
}

.quote {
    width:100%;
    padding:24px 96px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote p {
    max-width:992px;
}

footer {
    padding:24px;
    width:100%;    
    display:flex;
    justify-content: center;
}

.cta {
    width:100%;
    background-color: #3b82f6;
    padding:32px 96px;
    color:#ffffff;
    max-width:1280px;
}